body{
    display: flex;
    justify-content: center;
}

.container{
    position: relative;
    right : 13px; 
    border: 1px white solid;
    border-left: 1px blue solid;
    border-radius: 0px  10px 10px 0px;
    box-shadow: 0.8px 0.8px 0.8px;
    width: 230px;
    height: 290px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 15px;
}

.frame1{
    border: 1px orange solid;
    border-radius: 5px;
    background-color: blanchedalmond;
    color: orangered;

}
.frame2{
    border: 1px yellow solid;
    border-radius: 5px;
    background-color: blanchedalmond;
    color: darkgoldenrod;
}
.frame3{
    border: 1px green solid;
    border-radius: 5px;
    background-color: aquamarine;
    color: green;
}
.frame4{
    border: 1px blue solid;
    border-radius: 5px;
    background-color: deepskyblue;
    color: blue;
}
.frame5{
    height: 30px;
    text-align: center;
    border: 1px black solid;
    border-radius: 20px;
    padding: 5px;
    background-color: black;
    color: #ffff;
}

.container_2{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 230px;
    height: 290px;
    background-color: blue;
    border: 1px blue solid;
    border-radius: 10px;
}
.a1{
    color: whitesmoke;
    text-align: center;
}
.a2{
    border: 1px blue solid;
    height: 200px;
    border-radius: 200px;
    background: linear-gradient(180deg, black, blue);
    text-align: center;
}
.size{
    padding-top: 15px;
    color: white;
    font-size: 70px;
    font-weight: 10px;
    text-align: center;
}
.a3{
    text-align: center;
}
p{
    color: #ffff;
}
.taille{
    font-size: 30px;
}